   openapi: 3.0.0

info:
  version: '1.0'
  title: 'Mufetti Web API'
  description: 'Web Resources Specification (A7) for Mufetti'

servers:
  - url: http://mufetti.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/mufetti/a07

tags:
  - name: 'M01: Home and Timelines'
  - name: 'M02: Authentication and Profile Management'
  - name: 'M03: Posts, Comments and Reactions'
  - name: 'M04: Search and Discovery'
  - name: 'M05: Administration and Moderation'
  - name: 'M06: Groups and Membership'

paths:

  /:
    get:
      operationId: R100
      summary: 'R100: Home Redirect'
      description: 'Redirects visitors to login or logged-in users to their personalized timeline. Access: PUB, USR'
      tags:
        - 'M01: Home and Timelines'
      responses:
        '302':
          description: 'Redirect depending on authentication status'
          headers:
            Location:
              schema:
                type: string
              examples:
                LoggedIn:
                  description: Redirect to user profile
                  value: '/profile'
                Guest:
                  description: Redirect to login page
                  value: '/login'

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M02: Authentication and Profile Management'
      responses:
        '200':
          description: 'Ok. Show Log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes login submission. Access: PUB'
      tags:
        - 'M02: Authentication and Profile Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after login'
          headers:
            Location:
              schema:
                type: string
              examples:
                Success:
                  description: Redirect to user profile
                  value: '/profile'
                Failure:
                  description: Redirect back to login
                  value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logs out current user. Access: USR, ADM'
      tags:
        - 'M02: Authentication and Profile Management'
      responses:
        '302':
          description: 'Redirect after logout'
          headers:
            Location:
              schema:
                type: string
              examples:
                Success:
                  description: Redirect to login
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Registration Form'
      description: 'Provide user registration form. Access: PUB'
      tags:
        - 'M02: Authentication and Profile Management'
      responses:
        '200':
          description: 'Ok. Show registration UI'
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes new user registration. Access: PUB'
      tags:
        - 'M02: Authentication and Profile Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                description:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - name
                - email
                - password
      responses:
        '302':
          description: 'Redirect after registration'
          headers:
            Location:
              schema:
                type: string
              examples:
                Success:
                  description: Redirect to profile
                  value: '/profile'
                Failure:
                  description: Redirect to login
                  value: '/login'
  /profile:
    get:
      operationId: R106
      summary: 'R106: View Own Profile'
      description: 'Displays the logged-in user profile. Access: USR'
      tags:
        - 'M02: Authentication and Profile Management'
      responses:
        '200':
          description: 'Ok. Show user profile UI'

    post:
      operationId: R107
      summary: 'R107: Toggle Privacy'
      description: 'Switch between public and private account visibility. Access: USR'
      tags:
        - 'M02: Authentication and Profile Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                private:
                  type: boolean
      responses:
        '302':
          description: 'Redirect back to profile after toggling privacy'
          headers:
            Location:
              schema:
                type: string
              example: '/profile'

  /profile/edit:
    get:
      operationId: R108
      summary: 'R108: Edit Profile Form'
      description: 'Provide form to edit user profile. Access: USR'
      tags:
        - 'M02: Authentication and Profile Management'
      responses:
        '200':
          description: 'Ok. Show edit profile UI'

    post:
      operationId: R109
      summary: 'R109: Update Profile'
      description: 'Save updated profile information. Access: USR'
      tags:
        - 'M02: Authentication and Profile Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                picture:
                  type: string
                  format: binary
      responses:
        '302':
          description: 'Redirect back to profile after update'
          headers:
            Location:
              schema:
                type: string
              example: '/profile'

  /profile/{id}:
    get:
      operationId: R110
      summary: 'R110: View Another User Profile'
      description: 'Displays another user profile. Access: USR'
      tags:
        - 'M02: Authentication and Profile Management'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Ok. Show other user profile UI'

  /timeline/public:
    get:
      operationId: R111
      summary: 'R111: View Public Timeline'
      description: 'Displays recent public posts. Access: PUB'
      tags:
        - 'M01: Home and Timelines'
      responses:
        '200':
          description: 'Ok. Show public timeline posts'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    post_id:
                      type: integer
                    title:
                      type: string
                    content:
                      type: string
                    author_id:
                      type: integer
                    created_at:
                      type: string
                      format: date-time
  /posts:
    post:
      operationId: R201
      summary: 'R201: Create Post'
      description: 'Create a new post (text, image, song, or cover). Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                img:
                  type: string
                  format: binary
      responses:
        '302':
          description: 'Redirect to group or timeline after creating post'
          headers:
            Location:
              schema:
                type: string
              example: '/groups/{group_id}'

  /posts/{post}:
    get:
      operationId: R202
      summary: 'R202: View Post'
      description: 'Display a single post details. Access: PUB/USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: post
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Ok. Show post details'

    put:
      operationId: R203
      summary: 'R203: Edit Post'
      description: 'Update a post by its author. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                img:
                  type: string
                  format: binary
      responses:
        '302':
          description: 'Redirect back to post after update'
          headers:
            Location:
              schema:
                type: string
              example: '/posts/{post}'

    delete:
      operationId: R204
      summary: 'R204: Delete Post'
      description: 'Delete a post by its author. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      responses:
        '302':
          description: 'Redirect back to timeline or group after deletion'
          headers:
            Location:
              schema:
                type: string
              example: '/timeline/public'

  /posts/{post}/react:
    post:
      operationId: R205
      summary: 'R205: React to Post'
      description: 'Toggle like or predefined reaction on a post. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reaction:
                  type: string
                  enum: [like, confetti, heart, star]
      responses:
        '200':
          description: 'Updated reaction counts'

  /posts/{post}/reactions:
    get:
      operationId: R206
      summary: 'R206: Get Post Reactions'
      description: 'Retrieve the count of reactions for a post. Access: PUB/USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      responses:
        '200':
          description: 'Reaction counts as JSON'
          content:
            application/json:
              schema:
                type: object
                properties:
                  like:
                    type: integer
                  confetti:
                    type: integer
                  heart:
                    type: integer
                  star:
                    type: integer

  /posts/{post}/comments:
    post:
      operationId: R207
      summary: 'R207: Comment on Post'
      description: 'Add a comment to a post. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        '302':
          description: 'Redirect back to post after adding comment'
          headers:
            Location:
              schema:
                type: string
              example: '/posts/{post}'

  /comments/{comment}:
    put:
      operationId: R208
      summary: 'R208: Edit Comment'
      description: 'Edit a comment by its author. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        '302':
          description: 'Redirect back to post after editing comment'
          headers:
            Location:
              schema:
                type: string
              example: '/posts/{post}'

    delete:
      operationId: R209
      summary: 'R209: Delete Comment'
      description: 'Delete a comment by its author. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      responses:
        '302':
          description: 'Redirect back to post after deleting comment'
          headers:
            Location:
              schema:
                type: string
              example: '/posts/{post}'

  /comments/{comment}/react:
    post:
      operationId: R210
      summary: 'R210: React to Comment'
      description: 'Toggle like or predefined reaction on a comment. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reaction:
                  type: string
                  enum: [like, confetti, heart, star]
      responses:
        '200':
          description: 'Updated comment reaction counts'
  /search:
    get:
      operationId: R301
      summary: 'R301: Search Page'
      description: 'Show the search interface to enter queries. Access: PUB'
      tags:
        - 'M04: Search and Discovery'
      responses:
        '200':
          description: 'Ok. Show search form'

  /search/results:
    get:
      operationId: R302
      summary: 'R302: Search Results'
      description: 'Perform search over users, posts, and groups. Access: PUB/USR'
      tags:
        - 'M04: Search and Discovery'
      parameters:
        - in: query
          name: query
          description: 'Search keyword'
          schema:
            type: string
          required: true
        - in: query
          name: type
          description: 'Filter results by type: user, post, group'
          schema:
            type: string
            enum: [user, post, group]
          required: false
      responses:
        '200':
          description: 'Search results returned as JSON'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                      enum: [user, post, group]
                    name:
                      type: string
                    description:
                      type: string
                    extra:
                      type: object
                      description: 'Optional extra info depending on type'
                      properties:
                        username:
                          type: string
                        img:
                          type: string
                          format: uri
                        group_owner:
                          type: string
              example:
                - id: 101
                  type: user
                  name: "Casemiro Medeiros"
                  description: "Music lover and guitarist"
                  extra:
                    username: "casemiro123"
                    img: "https://example.com/users/101/avatar.png"
                - id: 202
                  type: post
                  name: "New Cover Song"
                  description: "My recent guitar cover"
                  extra:
                    img: "https://example.com/posts/202/img.jpg"
                - id: 303
                  type: group
                  name: "Rock Fans"
                  description: "Group for all rock music enthusiasts"
                  extra:
                    group_owner: "Gonçalo Bexiga"

  /search/users:
    get:
      operationId: R303
      summary: 'R303: Search Users API'
      description: 'Search users by name or username. Access: PUB/USR'
      tags:
        - 'M04: Search and Discovery'
      parameters:
        - in: query
          name: query
          description: 'Name or username search string'
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'User search results as JSON'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    username:
                      type: string
                    name:
                      type: string
                    img:
                      type: string
                      format: uri
              example:
                - id: 101
                  username: "casemiro123"
                  name: "Casemiro Medeiros"
                  img: "https://example.com/users/101/avatar.png"

  /search/posts:
    get:
      operationId: R304
      summary: 'R304: Search Posts API'
      description: 'Search posts by title or description. Access: PUB/USR'
      tags:
        - 'M04: Search and Discovery'
      parameters:
        - in: query
          name: query
          description: 'Search keyword'
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Post search results as JSON'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    description:
                      type: string
                    img:
                      type: string
                      format: uri
              example:
                - id: 202
                  title: "New Cover Song"
                  description: "My recent guitar cover"
                  img: "https://example.com/posts/202/img.jpg"

  /search/groups:
    get:
      operationId: R305
      summary: 'R305: Search Groups API'
      description: 'Search groups by name or description. Access: PUB/USR'
      tags:
        - 'M04: Search and Discovery'
      parameters:
        - in: query
          name: query
          description: 'Search keyword'
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Group search results as JSON'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    owner:
                      type: string
              example:
                - id: 303
                  name: "Rock Fans"
                  description: "Group for all rock music enthusiasts"
                  owner: "Gonçalo Bexiga"
  /groups:
    get:
      operationId: R401
      summary: 'R401: Show User Groups'
      description: 'List all groups the authenticated user belongs to. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      responses:
        '200':
          description: 'List of groups'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    member_count:
                      type: integer
                    is_public:
                      type: boolean
              example:
                - id: 303
                  name: "Rock Fans"
                  description: "Group for rock enthusiasts"
                  member_count: 12
                  is_public: true

    post:
      operationId: R402
      summary: 'R402: Create Group'
      description: 'Create a new group with name, description, and privacy. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                is_public:
                  type: boolean
              required:
                - name
                - is_public
      responses:
        '302':
          description: 'Redirect to newly created group page'

  /groups/create:
    get:
      operationId: R403
      summary: 'R403: Create Group Form'
      description: 'Show form to create a new group. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      responses:
        '200':
          description: 'Ok. Show create group form'

  /groups/{group}:
    get:
      operationId: R404
      summary: 'R404: Show Group'
      description: 'Show group page, posts, and member list. Access: PUB/USR depending on privacy'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show group details'
    post:
      operationId: R405
      summary: 'R405: Update Group'
      description: 'Update group information (name, description, privacy). Access: Owner only'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                is_public:
                  type: boolean
              required:
                - name
      responses:
        '302':
          description: 'Redirect after updating group'

  /groups/{group}/edit:
    get:
      operationId: R406
      summary: 'R406: Edit Group Form'
      description: 'Show form to edit group details. Access: Owner only'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show edit group form'

  /groups/{group}/join:
    post:
      operationId: R407
      summary: 'R407: Join Private Group Request'
      description: 'Send request to join a private group. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after sending join request'

  /groups/{group}/join/public:
    post:
      operationId: R408
      summary: 'R408: Join Public Group'
      description: 'Immediately join a public group without approval. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after joining public group'

  /groups/{group}/leave:
    post:
      operationId: R409
      summary: 'R409: Leave Group'
      description: 'Leave a group. Access: Member only'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after leaving group'

  /groups/{group}/members/{user}:
    delete:
      operationId: R410
      summary: 'R410: Remove Group Member'
      description: 'Remove a member from a group. Access: Owner only'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
        - in: path
          name: user
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after removing member'

  /groups/{group}/requests:
    get:
      operationId: R411
      summary: 'R411: Show Join Requests'
      description: 'Show pending join requests for the group. Access: Owner only'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'List of pending requests'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    requester:
                      type: object
                      properties:
                        id:
                          type: integer
                        username:
                          type: string
                        name:
                          type: string
              example:
                - id: 501
                  requester:
                    id: 101
                    username: "casemiro123"
                    name: "Casemiro Medeiros"

  /join-requests/{request}/accept:
    post:
      operationId: R412
      summary: 'R412: Accept Join Request'
      description: 'Accept a pending join request. Access: Owner only'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: request
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after accepting request'

  /join-requests/{request}/decline:
    post:
      operationId: R413
      summary: 'R413: Decline Join Request'
      description: 'Decline a pending join request. Access: Owner only'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: request
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after declining request'
  /posts:
    post:
      operationId: R501
      summary: 'R501: Create Post'
      description: 'Create a new post (text, image, song, lyrics). Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                img:
                  type: string
                  format: binary
              required:
                - title
      responses:
        '302':
          description: 'Redirect to newly created post page'

  /posts/create:
    get:
      operationId: R502
      summary: 'R502: Create Post Form'
      description: 'Show form to create a new post. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      responses:
        '200':
          description: 'Ok. Show create post form'

  /posts/{post}:
    get:
      operationId: R503
      summary: 'R503: View Post'
      description: 'Show post details including description, image, reactions, and comments. Access: PUB/USR depending on post privacy'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: post
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show post details'

    put:
      operationId: R504
      summary: 'R504: Update Post'
      description: 'Edit post content. Access: Author only'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: post
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                img:
                  type: string
                  format: binary
      responses:
        '302':
          description: 'Redirect after updating post'

    delete:
      operationId: R505
      summary: 'R505: Delete Post'
      description: 'Delete a post. Access: Author or Admin'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: post
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after deleting post'

  /posts/{post}/react:
    post:
      operationId: R506
      summary: 'R506: Toggle Reaction'
      description: 'Like or react to a post using predefined reactions. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: post
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reaction:
                  type: string
                  description: 'Type of reaction (like, confetti, etc.)'
      responses:
        '200':
          description: 'Reaction toggled successfully'

  /posts/{post}/reactions:
    get:
      operationId: R507
      summary: 'R507: Get Reaction Counts'
      description: 'Get counts of each type of reaction for a post. Access: PUB'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: post
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Return reaction counts'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
              example:
                like: 12
                confetti: 3
                heart: 5
  /posts/{post}/comments:
    get:
      operationId: R508
      summary: 'R508: List Comments for a Post'
      description: 'Retrieve all comments for a given post. Access: PUB/USR depending on post privacy'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: post
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Return list of comments'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    user_id:
                      type: integer
                    content:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                    reactions:
                      type: object
                      additionalProperties:
                        type: integer
              example:
                - id: 101
                  user_id: 12
                  content: "Awesome song!"
                  created_at: "2025-11-26T10:00:00Z"
                  reactions:
                    like: 5
                    heart: 2

    post:
      operationId: R509
      summary: 'R509: Create Comment'
      description: 'Add a comment to a post. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: post
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        '302':
          description: 'Redirect after creating comment'

  /comments/{comment}:
    put:
      operationId: R510
      summary: 'R510: Update Comment'
      description: 'Edit a comment. Access: Author only'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: comment
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        '302':
          description: 'Redirect after updating comment'

    delete:
      operationId: R511
      summary: 'R511: Delete Comment'
      description: 'Delete a comment. Access: Author or Admin'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: comment
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after deleting comment'

  /comments/{comment}/react:
    post:
      operationId: R512
      summary: 'R512: React to Comment'
      description: 'Add a reaction to a comment. Access: USR'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: comment
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reaction:
                  type: string
                  description: 'Type of reaction (like, confetti, heart)'
      responses:
        '200':
          description: 'Reaction toggled successfully'

  /comments/{comment}/reactions:
    get:
      operationId: R513
      summary: 'R513: Get Comment Reactions'
      description: 'Get counts of reactions for a comment. Access: PUB'
      tags:
        - 'M03: Posts, Comments and Reactions'
      parameters:
        - in: path
          name: comment
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Return reaction counts'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
              example:
                like: 3
                heart: 1
                confetti: 0
  /search:
    get:
      operationId: R601
      summary: 'R601: Show Search Page'
      description: 'Display the search interface for users, posts, groups. Access: PUB/USR'
      tags:
        - 'M04: Search and Discovery'
      responses:
        '200':
          description: 'Return search page UI'

  /search/results:
    get:
      operationId: R602
      summary: 'R602: Search Results'
      description: 'Perform search over users, posts, groups, and comments. Access: PUB/USR'
      tags:
        - 'M04: Search and Discovery'
      parameters:
        - in: query
          name: query
          description: 'Text to search for'
          schema:
            type: string
          required: true
        - in: query
          name: type
          description: 'Filter by type: users, posts, comments, groups'
          schema:
            type: string
            enum: [users, posts, comments, groups]
          required: false
      responses:
        '200':
          description: 'Return search results as JSON'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                      description: 'Resource type: user, post, comment, group'
                    title:
                      type: string
                      description: 'Title or name of the resource'
                    description:
                      type: string
                      description: 'Description of the resource'
                    owner:
                      type: string
                      description: 'Owner username if applicable'
                    created_at:
                      type: string
                      format: date-time
              example:
                - id: 12
                  type: user
                  title: "Sara García"
                  description: "Music enthusiast"
                  owner: ""
                  created_at: "2025-11-26T10:00:00Z"
                - id: 34
                  type: post
                  title: "Cover of Bohemian Rhapsody"
                  description: "My piano cover"
                  owner: "Casemiro Medeiros"
                  created_at: "2025-11-25T18:30:00Z"
                - id: 7
                  type: group
                  title: "Indie Music Lovers"
                  description: "Group for sharing indie music"
                  owner: "Gonçalo Bexiga"
                  created_at: "2025-11-20T15:00:00Z"
  /groups:
    get:
      operationId: R701
      summary: 'R701: Show User Groups'
      description: 'List all groups the authenticated user is a member of. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      responses:
        '200':
          description: 'Return list of groups as JSON'

    post:
      operationId: R702
      summary: 'R702: Create Group'
      description: 'Create a new group with name, description and privacy settings. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                is_public:
                  type: boolean
              required:
                - name
                - is_public
      responses:
        '302':
          description: 'Redirect to newly created group page'

  /groups/{group}:
    get:
      operationId: R703
      summary: 'R703: View Group'
      description: 'Show group details, posts, and members if permitted. Access: PUB/USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Return group info and posts'

    post:
      operationId: R704
      summary: 'R704: Join Public Group'
      description: 'Join a public group directly. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after joining group'

  /groups/{group}/join:
    post:
      operationId: R705
      summary: 'R705: Request to Join Private Group'
      description: 'Send a join request for a private group. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after sending join request'

  /groups/{group}/leave:
    post:
      operationId: R706
      summary: 'R706: Leave Group'
      description: 'Leave the group you are a member of. Access: USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after leaving group'

  /groups/{group}/members/{user}:
    delete:
      operationId: R707
      summary: 'R707: Remove Member'
      description: 'Remove a member from the group (owner only). Access: USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
        - in: path
          name: user
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after removing member'

  /groups/{group}/edit:
    get:
      operationId: R708
      summary: 'R708: Edit Group Form'
      description: 'Show the form to edit group details (owner only). Access: USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Return edit group form'

    post:
      operationId: R709
      summary: 'R709: Update Group'
      description: 'Update group information. Access: USR (owner only)'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                is_public:
                  type: boolean
      responses:
        '302':
          description: 'Redirect after updating group'

  /groups/{group}/requests:
    get:
      operationId: R710
      summary: 'R710: View Join Requests'
      description: 'Show pending join requests for a group (owner only). Access: USR'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Return list of pending join requests'

  /join-requests/{request}/accept:
    post:
      operationId: R711
      summary: 'R711: Accept Join Request'
      description: 'Approve a pending join request. Access: USR (owner only)'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: request
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after accepting join request'

  /join-requests/{request}/decline:
    post:
      operationId: R712
      summary: 'R712: Decline Join Request'
      description: 'Decline a pending join request. Access: USR (owner only)'
      tags:
        - 'M06: Groups and Membership'
      parameters:
        - in: path
          name: request
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after declining join request'

